</div>
</main>
<footer class="footer">
  <div class="container">
    <h3 class="footer__heading">PHP diary project</h3>
    <p class="footer__desc">This PHP diary project allows users to systematically document
      and reflect on their learning journey, enhancing retention and providing valuable
      insights into their personal growth and development.</p>
  </div>
  <div class="copyright">
    <p>
      Made with
      <a
        href='https://buymeacoffee.com/abdevweb'
        target='_blank'
        title='Click here to offer me a coffee.'
        class='footer-icon'
      >
        ☕
      </a>
      &
      <a
        href="https://github.com/Baha-Abdelatif/"
        +
        repository
        target='_blank'
        title='Click here to rate this project on Github.'
        class='footer-icon'
      >
        ❤️
      </a>
      by Abdelatif BAHA -
      <a
        href='https://abdevweb.com'
        target='_blank'
        title='Click here to see all my projects.'
      >AbDevWeb</a>
      <span id='footer_copyright_year'></span>
    </p>
  </div>
</footer>
<script>
  const year = new Date().getFullYear();
  document.querySelector('#footer_copyright_year').innerHTML = year;
</script>
</body>

</html>
