</main>
<footer class="footer">
  <p>
    Made with
    <a
      href='https://buymeacoffee.com/abdevweb'
      target='_blank'
      title='Click here to offer me a coffee.'
      class='footer-icon'
    >
      ☕
    </a>
    &
    <a
      href="https://github.com/Baha-Abdelatif/"
      +
      repository
      target='_blank'
      title='Click here to rate this project on Github.'
      class='footer-icon'
    >
      ❤️
    </a>
    by Abdelatif BAHA -
    <a
      href='https://abdevweb.com'
      target='_blank'
      title='Click here to see all my projects.'
    >
      AbDevWeb
    </a>
    <span id='footer_copyright_year'></span>
  </p>
</footer>
<script>
  const year = new Date().getFullYear();
  document.querySelector('#footer_copyright_year').innerHTML = year;
</script>
</body>

</html>
