<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <link
    rel="stylesheet"
    type='text/css'
    href="../styles/normalize.css"
  >
  <link
    rel="stylesheet"
    type='text/css'
    href="../styles/index.css"
  >
  <title>Php Diary App</title>
</head>

<body>
  <header class='header'>
    <nav>
      <a
        class='nav-brand'
        href="#"
      >
        <svg
          class='nav-brand__img'
          viewBox="0 0 60.7863869853 60.7863869853"
        >
          <defs>
            <style>
              .uuid-f1de6254-0820-4376-87ff-f875521b7fef {
                fill: currentColor;
              }
            </style>
          </defs>
          <path
            class="uuid-f1de6254-0820-4376-87ff-f875521b7fef"
            d="m45.589790239,30.3931934927c8.3928407749,0,15.1965967463-6.8037559715,15.1965967463-15.1965967463S53.9826310139,0,45.589790239,0H15.196554313C6.8037135382,0,0,6.8037559715,0,15.1965967463v30.3931934927c0,8.3928407749,6.8037135382,15.1965967463,15.196554313,15.1965967463h30.393235926c8.3928407749,0,15.1965967463-6.8037559715,15.1965967463-15.1965967463s-6.8037559715-15.1965967463-15.1965967463-15.1965967463Z"
          />
        </svg>
        <span class='h3'>PHP Diary App</span>
      </a>
      <a
        href="#"
        class="nav-btn"
      ><svg
          class="nav-btn__img"
          viewBox="0 0 44.4901230052 44.4901230053"
        >
          <defs>
            <style>
              .svg-draw {
                fill: none;
                stroke: #f3f4f5;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2px;
              }
            </style>
          </defs>
          <g>
            <circle
              class="svg-draw"
              cx="22.2450615026"
              cy="22.2450615026"
              r="21.2450615026"
            />
            <line
              class="svg-draw"
              x1="22.2450615026"
              y1="13.4699274037"
              x2="22.2450615026"
              y2="31.0201956015"
            />
            <line
              class="svg-draw"
              x1="31.0201956015"
              y1="22.2450658041"
              x2="13.4699274037"
              y2="22.2450572011"
            />
          </g>
        </svg>
        <button class="btn nav-btn__add">
          New Entry
        </button>
      </a>
    </nav>
  </header>
  <main>
