.footer {
  background-color: var(--main-blue);
  padding-top: 3rem;
  padding-bottom: 3rem;
  &__heading {
    color: var(--white);
  }

  &__desc {
    color: var(--light-green);
    max-width: 20rem;
    line-height: 1.33em;
  }
  .container::after {
    content: "";
    display: block;
    width: 7.5rem;
    height: 0.125rem;
    background-color: var(--light-green);
    margin: 0 auto;
    opacity: 0.5;
    margin-top: var(--h3);
  }
  .copyright {
    height: 100%;
    width: 100%;
    margin-top: var(--h5);
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: var(--light-green);
    }
    a.footer-icon {
      color: var(--white);
      text-decoration: none;
    }
  }
}
