.nav {
  background-color: var(--main-blue);
  height: var(--h1);

  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-brand {
    display: block;
    color: var(--white);
    text-decoration: none;
    height: var(--h1);
    line-height: var(--h1);
    &__image {
      width: 3rem;
      height: var(--h1);
      vertical-align: bottom;
      color: var(--main-green);
    }
  }

  .nav-brand:hover .nav-brand__image {
    color: var(--light-green);
  }

  .button {
    display: inline-block;
    background-color: var(--main-orange);
    color: var(--white);
    text-decoration: none;
    padding: 0rem 1rem;
    border-radius: var(--xsmall);
    line-height: var(--h3);
    border: 0;
    text-transform: uppercase;
    &__icon {
      width: var(--h5);
      height: var(--h5);
      position: relative;
      top: 0.4rem;
      margin-right: 0.4rem;
    }
  }
  .button:hover {
    background-color: var(--light-orange);
  }
}
